@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 50% 94%;
    --foreground: 226 44% 19%;
    --card: 0 0% 100%;
    --card-foreground: 226 44% 19%;
    --popover: 0 0% 100%;
    --popover-foreground: 226 44% 19%;
    --primary: 231 48% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 50% 90%;
    --secondary-foreground: 226 44% 19%;
    --muted: 230 50% 90%;
    --muted-foreground: 230 20% 45%;
    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 30% 85%;
    --input: 230 30% 88%;
    --ring: 231 48% 54%;
    --chart-1: 231 48% 54%;
    --chart-2: 174 100% 29%;
    --chart-3: 20 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 226 24% 9%;
    --sidebar-foreground: 230 50% 94%;
    --sidebar-primary: 231 48% 64%;
    --sidebar-primary-foreground: 226 44% 19%;
    --sidebar-accent: 226 24% 15%;
    --sidebar-accent-foreground: 230 50% 94%;
    --sidebar-border: 226 24% 20%;
    --sidebar-ring: 231 48% 64%;
  }
  .dark {
    --background: 226 24% 9%;
    --foreground: 230 50% 94%;
    --card: 226 24% 12%;
    --card-foreground: 230 50% 94%;
    --popover: 226 24% 9%;
    --popover-foreground: 230 50% 94%;
    --primary: 231 48% 64%;
    --primary-foreground: 226 44% 19%;
    --secondary: 226 24% 15%;
    --secondary-foreground: 230 50% 94%;
    --muted: 226 24% 15%;
    --muted-foreground: 230 20% 65%;
    --accent: 174 80% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 226 24% 20%;
    --input: 226 24% 20%;
    --ring: 231 48% 64%;
    --chart-1: 231 48% 64%;
    --chart-2: 174 80% 49%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 226 24% 9%;
    --sidebar-foreground: 230 50% 94%;
    --sidebar-primary: 231 48% 64%;
    --sidebar-primary-foreground: 226 44% 19%;
    --sidebar-accent: 226 24% 15%;
    --sidebar-accent-foreground: 230 50% 94%;
    --sidebar-border: 226 24% 20%;
    --sidebar-ring: 231 48% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
